<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Outfit:wght@200&family=Playfair+Display:wght@500&display=swap");
    </style>
    <title>Sobre Nosotros</title>
    <link rel="stylesheet" href="../styles.css" />
  </head>
  <body class="nosotros">
    <header class="nosotros">
      <nav>
        <ul class="menu">
          <li class="menu">
            <a href="../views/nosotros.html">Sobre Nosotros</a>
          </li>
          <li class="menu">
            <a href="../views/productos.html">Nuestros Productos</a>
          </li>
          <li class="menu"><a href="../views/delivery.html">Delivery</a></li>
          <li class="menu"><a href="../views/contacto.html">Contacto</a></li>
        </ul>
      </nav>
    </header>
    <h1>Sobre Nosotros</h1>
    <section class="primerTexto">
      <p class="parrafoVideo">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae omnis
        nulla laudantium fugiat hic ratione expedita saepe. Cum magnam fugit
        necessitatibus, odio a delectus officia quas ipsam maxime, ratione minus
        molestias commodi voluptatum fuga, facilis perferendis ullam mollitia
        iure. Expedita recusandae molestiae consequatur quos fuga accusamus
        dolores, harum eligendi mollitia!
      </p>
      <video src="../assets/helado de chocolate.mp4" loop controls></video>
    </section>
    <section class="segundoTexto">
      <img class="pastel" src="../assets/pastel arcoiris.jpg" alt="pastel" />
      <p class="parrafoPastel">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae omnis
        nulla laudantium fugiat hic ratione expedita saepe. Cum magnam fugit
        necessitatibus, odio a delectus officia quas ipsam maxime, ratione minus
        molestias commodi voluptatum fuga, facilis perferendis ullam mollitia
        iure. Expedita recusandae molestiae consequatur quos fuga accusamus
        dolores, harum eligendi mollitia!
      </p>
    </section>
    <footer class="pie">
      <nav class="pie">
        <ul class="pie" id="pie">
          <li><a class="arriba" href="#">Arriba</a></li>
          <li><a class="inicio" href="../index.html">Inicio</a></li>
          <li class="facebook" id="pieNoIndex">
            <a
              id="facebook"
              href="https://web.facebook.com/dolceakasa.pasteleria"
              target="blank"
            >
              <img
                class="facebook"
                src="../assets/facebook logo.png"
                alt="facebook"
              />
            </a>
          </li>
          <li class="estrellas" id="pieNoIndex">
            <img
              class="estrellas"
              src="../assets/5estrellas.jpeg"
              alt="estrellas"
            />
          </li>
          <li class="instagram" id="pieNoIndex">
            <a
              id="instagram"
              href="https://www.instagram.com/dolceakasa_pasteleria/"
              target="blank"
            >
              <img
                class="instagram"
                src="../assets/instagram logo.png"
                alt="instagram"
              />
            </a>
          </li>
          <div id="derechosnoindex">
            &copy;Dolce a Kasa - Todos los derechos reservados
          </div>
        </ul>
      </nav>
    </footer>
  </body>
</html>
