<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Outfit:wght@200&family=Playfair+Display:wght@500&display=swap");
    </style>
    <title>Nuestros Productos</title>
    <link rel="stylesheet" href="../styles.css" />
  </head>
  <body>
    <header>
      <nav>
        <ul class="menu">
          <li class="menu">
            <a href="../views/nosotros.html">Sobre Nosotros</a>
          </li>
          <li class="menu">
            <a href="../views/productos.html">Nuestros Productos</a>
          </li>
          <li class="menu"><a href="../views/delivery.html">Delivery</a></li>
          <li class="menu"><a href="../views/contacto.html">Contacto</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <h1>Nuestros Productos</h1>
      <ul class="productos">
        <h2 class="productos">Arroz con leche y mazamorra morada:</h2>
        <li class="productos">
          <img
            class="productos"
            src="../assets/arroz con leche y mazamorra.jpg"
            alt="Arroz con leche"
          />
          <p class="productos">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Exercitationem amet deleniti saepe animi ducimus eum officia quo cum
            placeat ab, molestiae omnis. Nihil quaerat laboriosam sit eius
            aspernatur delectus fuga et eveniet excepturi ratione doloremque,
            quo, sequi adipisci, vero molestias quos aliquid labore consequatur?
            Atque et vero distinctio minus provident.
          </p>
        </li>

        <h2 class="productos">Bola de helado:</h2>
        <li class="productos">
          <img
            class="productos"
            src="../assets/bola de helado.jpg"
            alt="bola de helado"
          />
          <p class="productos">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Exercitationem amet deleniti saepe animi ducimus eum officia quo cum
            placeat ab, molestiae omnis. Nihil quaerat laboriosam sit eius
            aspernatur delectus fuga et eveniet excepturi ratione doloremque,
            quo, sequi adipisci, vero molestias quos aliquid labore consequatur?
            Atque et vero distinctio minus provident.
          </p>
        </li>

        <h2 class="productos">Galletas:</h2>
        <li class="productos">
          <img class="productos" src="../assets/galletas.jpg" alt="galletas" />
          <p class="productos">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Exercitationem amet deleniti saepe animi ducimus eum officia quo cum
            placeat ab, molestiae omnis. Nihil quaerat laboriosam sit eius
            aspernatur delectus fuga et eveniet excepturi ratione doloremque,
            quo, sequi adipisci, vero molestias quos aliquid labore consequatur?
            Atque et vero distinctio minus provident.
          </p>
        </li>

        <h2 class="productos">Pye:</h2>
        <li class="productos">
          <img class="productos" src="../assets/pye.jpg" alt="pye" />
          <p class="productos">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Exercitationem amet deleniti saepe animi ducimus eum officia quo cum
            placeat ab, molestiae omnis. Nihil quaerat laboriosam sit eius
            aspernatur delectus fuga et eveniet excepturi ratione doloremque,
            quo, sequi adipisci, vero molestias quos aliquid labore consequatur?
            Atque et vero distinctio minus provident.
          </p>
        </li>
      </ul>
    </main>
    <footer class="pie">
      <nav class="pie">
        <ul class="pie" id="pie">
          <li><a class="arriba" href="#">Arriba</a></li>
          <li><a class="arriba" href="../index.html">Inicio</a></li>
          <li class="facebook" id="pieNoIndex">
            <a
              id="facebook"
              href="https://web.facebook.com/dolceakasa.pasteleria"
              target="blank"
            >
              <img
                class="facebook"
                src="../assets/facebook logo.png"
                alt="facebook"
              />
            </a>
          </li>
          <li class="estrellas" id="pieNoIndex">
            <img
              class="estrellas"
              src="../assets/5estrellas.jpeg"
              alt="estrellas"
            />
          </li>
          <li class="instagram" id="pieNoIndex">
            <a
              id="instagram"
              href="https://www.instagram.com/dolceakasa_pasteleria/"
              target="blank"
            >
              <img
                class="instagram"
                src="../assets/instagram logo.png"
                alt="instagram"
              />
            </a>
          </li>
          <div id="derechosnoindex">
            &copy;Dolce a Kasa - Todos los derechos reservados
          </div>
        </ul>
      </nav>
    </footer>
  </body>
</html>
